@import "./variables";
// Cores
@import "./mixins";
@import "./blocks/common";
// blocks
@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/categories";
@import "./blocks/explore";
@import "./blocks/bestsellers";
@import "./blocks/soaps";
@import "./blocks/trends";
@import "./blocks/blog";
@import "./blocks/footer";
