// Fonts
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("../fonts/SFRounded-Ultralight.woff2") format("woff2"),
    url("../fonts/SFRounded-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

// Fonts

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: $desktop;
  flex-wrap: nowrap;
  margin: 0 auto;
}

// Media queries for responsive type

@media screen and (max-width: $desktop-I) {
  .container {
    max-width: $desktop-I;
  }
}

@media screen and (max-width: $extra-tablet) {
  .container {
    max-width: $extra-tablet;
    padding: 0px 6px;
  }
}
@media screen and (max-width: $tablet) {
  .container {
    max-width: $tablet;
    padding: 0px 6px;
  }
}

@media screen and (max-width: $mobile) {
  .container {
    max-width: $mobile;
    padding: 0 8px;
  }
}
