.explore {
  margin-top: 70px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;

  .explore-image {
    width: 50%;

    .explore-blob {
      position: absolute;
      z-index: 1;
      background: url(../../img/Blob-explore.png) no-repeat;
      width: 50%;
      height: 100%;
      background-size: contain;
    }

    .explore__img {
      position: relative;
      z-index: 2;
      width: 100%;
    }
  }

  .explore-texts {
    width: 50%;

    .explore__title {
      @include for-title;
    }

    .explore__description {
      @include for-description;
      padding-left: 220px;
      text-align: right;
      margin-top: 32px;
    }

    .explore-link {
      display: flex;
      justify-content: flex-end;

      .explore__link {
        @include for-links;
        padding: 12px 30px;
        margin-top: 24px;
      }
    }
  }
}
@media screen and (max-width: $tablet) {
  .explore {
    .explore-texts {

      .explore__title {
        font-size: 30px;
      }

      .explore__description {
        font-size: 12px;
        padding-left: 80px;
        line-height: 20px;
        margin-top: 10px;
      }

      .explore-link {
        .explore__link {
          font-size: 12px;
          padding: 10px 24px;
          margin-top: 15px;
        }
      }
    }
  }
}
